In [1]:
from lib.modules_hotstar import describe_data

In [2]:
train_X, train_Y,  test, details = describe_data('data/hotstar')

Directory Read from:data/hotstar/*

Files Read:

data/hotstar/train_data.json

data/hotstar/test_data.json

data/hotstar/sample_submission.csv

In [3]:
test.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>cities</th>
      <th>genres</th>
      <th>titles</th>
      <th>dow</th>
      <th>tod</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>test-1</td>
      <td>delhi:182,mumbai:702</td>
      <td>Romance:182,Cricket:702</td>
      <td>Axar's 21-ball 40 amidst KXIP ruins:72,Virat K...</td>
      <td>2:182,4:701</td>
      <td>13:182,15:701</td>
    </tr>
    <tr>
      <th>1</th>
      <td>test-10</td>
      <td>pune:16,delhi:1100,navi mumbai:22736</td>
      <td>Romance:50,Action:3501,Mythology:20300</td>
      <td>Besh Korechi Prem Korechi:0,Power:122,Siya Ke ...</td>
      <td>1:4830,3:3078,2:8359,5:2946,4:4185,7:451</td>
      <td>20:6909,21:1520,22:662,23:3160,19:5711,1:121,0...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>test-100</td>
      <td>chennai:8652,delhi:751,mumbai:4470</td>
      <td>TalkShow:2247,Mythology:11626</td>
      <td>Mahabharat:11626,Koffee With Karan:2247</td>
      <td>1:5409,2:740,4:1162,7:2755,6:3807</td>
      <td>11:23,10:499,13:1804,12:1467,15:751,14:14,22:3...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>test-1000</td>
      <td>pune:15,delhi:4872,mumbai:1849</td>
      <td>Drama:6459,Reality:276</td>
      <td>Dance +:276,Dance  :0,Chandanamazha:6458,Karut...</td>
      <td>1:3227,3:2043,7:1464</td>
      <td>14:15,17:1758,16:4185,19:128,23:468,6:180</td>
    </tr>
    <tr>
      <th>4</th>
      <td>test-10000</td>
      <td>mumbai:1204</td>
      <td>Drama:1204</td>
      <td>Yeh Rishta Kya Kehlata Hai:1204</td>
      <td>1:1204</td>
      <td>19:1204</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
from lib.modules_hotstar import transform_countdata

In [16]:
## Add counts for different fields from modules_hotstar
train_X['genre_count'] = transform_countdata(train_X, 'genres')
train_X['title_count'] = transform_countdata(train_X, 'titles')
train_X['city_count'] = transform_countdata(train_X, 'cities')

ValueError: invalid literal for int() with base 10: ''

            ID                                  genres  \
0      train-1  Cricket:82379,Kabaddi:255,Reality:4751
1     train-10              Cricket:15640,Wildlife:730
2    train-100                 LiveTV:13,Football:4129
3   train-1000               TalkShow:658,Cricket:7690
4  train-10000    Drama:5503,Cricket:3283,Reality:1345

                                              titles  \
0  Top Raids: Haryana vs Services SCB:103,Day 4: ...
1  Dhoni Quits Captaincy:148,Day 4: India Move in...
2  Star Sports 4:13,Manchester United vs Everton:...
3  SRH vs RCB:701,KKR vs KXIP:1042,MI vs SRH:2288...
4  MI vs KKR:304,Yeh Rishta Kya Kehlata Hai:5449,...

                                         cities  \
0                     gurgaon:55494,delhi:31892
1             delhi:5862,nagar:8916,mumbai:1593
2                              navi mumbai:4142
3  new delhi:4131,chennai:2878,navi mumbai:1339
4                     gurgaon:6077,chennai:4055

                                                 dow  \
0  1:3412,3:15878,2:1737,5:10975,4:20974,7:17820,...
1      1:5745,3:3025,2:3346,5:123,4:3007,7:1108,6:10
2                                             3:4142
3                     1:658,3:5867,5:413,4:1339,7:71
4                  1:1641,2:480,4:1445,7:1663,6:4900

                                                 tod  genre_count
0  10:26,13:331,12:323,20:21864,21:16233,17:7953,...        87385
1  11:1661,10:384,20:401,21:798,22:221,16:525,19:...        16370
2                                1:1207,0:2406,2:529         4142
3        11:71,20:2417,21:1042,23:2288,19:1872,8:658         8348
4  20:158,22:4139,17:67,23:1510,19:288,18:56,0:23...        10131