In [1]:
from lib.modules_hotstar import describe_data, transform_countdata, process_data

In [2]:
train_X, train_Y,  test, details = describe_data('data/hotstar')

Directory Read from:data/hotstar/*

Files Read:

data/hotstar/train_data.json

data/hotstar/test_data.json

data/hotstar/sample_submission.csv

In [3]:
test.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>cities</th>
      <th>genres</th>
      <th>titles</th>
      <th>dow</th>
      <th>tod</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>test-1</td>
      <td>delhi:182,mumbai:702</td>
      <td>Romance:182,Cricket:702</td>
      <td>Axar's 21-ball 40 amidst KXIP ruins:72,Virat K...</td>
      <td>2:182,4:701</td>
      <td>13:182,15:701</td>
    </tr>
    <tr>
      <th>1</th>
      <td>test-10</td>
      <td>pune:16,delhi:1100,navi mumbai:22736</td>
      <td>Romance:50,Action:3501,Mythology:20300</td>
      <td>Besh Korechi Prem Korechi:0,Power:122,Siya Ke ...</td>
      <td>1:4830,3:3078,2:8359,5:2946,4:4185,7:451</td>
      <td>20:6909,21:1520,22:662,23:3160,19:5711,1:121,0...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>test-100</td>
      <td>chennai:8652,delhi:751,mumbai:4470</td>
      <td>TalkShow:2247,Mythology:11626</td>
      <td>Mahabharat:11626,Koffee With Karan:2247</td>
      <td>1:5409,2:740,4:1162,7:2755,6:3807</td>
      <td>11:23,10:499,13:1804,12:1467,15:751,14:14,22:3...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>test-1000</td>
      <td>pune:15,delhi:4872,mumbai:1849</td>
      <td>Drama:6459,Reality:276</td>
      <td>Dance +:276,Dance  :0,Chandanamazha:6458,Karut...</td>
      <td>1:3227,3:2043,7:1464</td>
      <td>14:15,17:1758,16:4185,19:128,23:468,6:180</td>
    </tr>
    <tr>
      <th>4</th>
      <td>test-10000</td>
      <td>mumbai:1204</td>
      <td>Drama:1204</td>
      <td>Yeh Rishta Kya Kehlata Hai:1204</td>
      <td>1:1204</td>
      <td>19:1204</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
train_Y.head()

0    neg
1    neg
2    neg
3    neg
4    neg
Name: segment, dtype: object

In [6]:
train_X = process_data(train_X)
test_X = process_data(test)
train_Y = process_data(train_Y)

DataFrame'>

KeyError: 'genres'

In [13]:
train_X.drop('ID', axis=1, inplace=True)
train_X.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>genre_count</th>
      <th>title_count</th>
      <th>city_count</th>
      <th>tod_count</th>
      <th>dow_count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>3</td>
      <td>60</td>
      <td>2</td>
      <td>14</td>
      <td>7</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>70</td>
      <td>3</td>
      <td>16</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>8</td>
      <td>3</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>11</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
id = test_X['ID']
test_X.drop('ID', axis=1, inplace=True)
test_X.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>genre_count</th>
      <th>title_count</th>
      <th>city_count</th>
      <th>tod_count</th>
      <th>dow_count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2</td>
      <td>8</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>10</td>
      <td>3</td>
      <td>8</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>11</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [39]:
label = id

In [78]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
import pandas as pd

In [1]:
model = SVC(probability=True, verbose=True)
model.fit(train_X, train_Y)

NameError: name 'SVC' is not defined

In [ ]:
results = model.predict_proba(test_X)

In [ ]:
# # uncomment to do grid search - could get better score
# from sklearn.model_selection import train_test_split
# X_train, X_val, y_train, y_val = train_test_split(train_X, train_Y, train_size=0.7, random_state=1)
# 
# # doing grid search for parameters
# from sklearn.grid_search import GridSearchCV
# from sklearn.metrics import roc_auc_score, make_scorer
# clf_scorer = make_scorer(roc_auc_score)
# rfc = GradientBoostingClassifier(verbose=True)
# param_grid = {
#     'max_depth': [4, 8,  12],
#     'max_features': ['sqrt', 'log2', None],
#     'n_estimators': [250, 500, 1000]
# }
# cv_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv=5, scoring=clf_scorer, n_jobs=-1)
# cv_rfc.fit(X_train, y_train)

In [111]:
results = pd.DataFrame(columns=['seg', 'segment'], data=val)

In [112]:
results.drop('seg', axis=1, inplace=True)

In [113]:
results.head()
results['ID']= label
results = results[['ID', 'segment']]

In [114]:
results.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>segment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>test-1</td>
      <td>1.613298e-10</td>
    </tr>
    <tr>
      <th>1</th>
      <td>test-10</td>
      <td>2.131997e-05</td>
    </tr>
    <tr>
      <th>2</th>
      <td>test-100</td>
      <td>1.663715e-01</td>
    </tr>
    <tr>
      <th>3</th>
      <td>test-1000</td>
      <td>5.191947e-06</td>
    </tr>
    <tr>
      <th>4</th>
      <td>test-10000</td>
      <td>7.452770e-02</td>
    </tr>
  </tbody>
</table>
</div>

In [116]:
results.to_csv('/home/suraj/Repositories/IndiaHacks ML Hackathon/submissions/hotstarsub1.csv', index=False)

In [103]:
from pickle import dump, load

In [104]:
dump(cv_rfc, open('model', "w"))

In [107]:
print cv_rfc.best_params_

{'max_features': None, 'n_estimators': 1000, 'max_depth': 12}