In [1]:
from lib.modules_hotstar import describe_data, processinput_data, extract_data_fields, process_target, transform_countdata

In [2]:
train_X, train_Y,  test, details = describe_data('data/hotstar')

Directory Read from:data/hotstar/*

Files Read:

data/hotstar/train_data.json

data/hotstar/test_data.json

data/hotstar/sample_submission.csv

In [3]:
test.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>cities</th>
      <th>genres</th>
      <th>titles</th>
      <th>dow</th>
      <th>tod</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>test-1</td>
      <td>delhi:182,mumbai:702</td>
      <td>Romance:182,Cricket:702</td>
      <td>Axar's 21-ball 40 amidst KXIP ruins:72,Virat K...</td>
      <td>2:182,4:701</td>
      <td>13:182,15:701</td>
    </tr>
    <tr>
      <th>1</th>
      <td>test-10</td>
      <td>pune:16,delhi:1100,navi mumbai:22736</td>
      <td>Romance:50,Action:3501,Mythology:20300</td>
      <td>Besh Korechi Prem Korechi:0,Power:122,Siya Ke ...</td>
      <td>1:4830,3:3078,2:8359,5:2946,4:4185,7:451</td>
      <td>20:6909,21:1520,22:662,23:3160,19:5711,1:121,0...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>test-100</td>
      <td>chennai:8652,delhi:751,mumbai:4470</td>
      <td>TalkShow:2247,Mythology:11626</td>
      <td>Mahabharat:11626,Koffee With Karan:2247</td>
      <td>1:5409,2:740,4:1162,7:2755,6:3807</td>
      <td>11:23,10:499,13:1804,12:1467,15:751,14:14,22:3...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>test-1000</td>
      <td>pune:15,delhi:4872,mumbai:1849</td>
      <td>Drama:6459,Reality:276</td>
      <td>Dance +:276,Dance  :0,Chandanamazha:6458,Karut...</td>
      <td>1:3227,3:2043,7:1464</td>
      <td>14:15,17:1758,16:4185,19:128,23:468,6:180</td>
    </tr>
    <tr>
      <th>4</th>
      <td>test-10000</td>
      <td>mumbai:1204</td>
      <td>Drama:1204</td>
      <td>Yeh Rishta Kya Kehlata Hai:1204</td>
      <td>1:1204</td>
      <td>19:1204</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
train_Y.head()

0    neg
1    neg
2    neg
3    neg
4    neg
Name: segment, dtype: object

In [5]:
genre_list = extract_data_fields(train_X, 'genres')
city_list = extract_data_fields(train_X, 'cities')
daytime_list = range(1, 25)
weekday_list = range(1, 8)

Drama:164,Cricket:3889,Comedy:8 list completed

kolkata:26,bangalore:2308,delhi:898,mumbai:828 list completed

In [6]:
print weekday_list

In [7]:
import pandas as pd
df = pd.DataFrame()
for col in genre_list:
    df[col] = 0
for col in city_list:
    df[col] = 0
for col in daytime_list:
    df[col] = 0
for col in weekday_list:
    df[col] = 0

In [8]:
train_X['genres'][1]

u'Cricket:15640,Wildlife:730'

In [9]:
new_pd = processinput_data(train_X, df)
test_pd = processinput_data(test, df)

new_pd.to_csv('train_data,csv', index=False)
test_pd.to_csv('test_data.csv', index=False)

(200000, 1417)
[ 0.  0.  0. ...,  0.  0.  0.]
Genres:

0 Row completed

10000 Row completed

20000 Row completed

30000 Row completed

40000 Row completed

50000 Row completed

60000 Row completed

70000 Row completed

80000 Row completed

90000 Row completed

100000 Row completed

110000 Row completed

120000 Row completed

130000 Row completed

140000 Row completed

150000 Row completed

160000 Row completed

170000 Row completed

180000 Row completed

190000 Row completed

Cities

0 Row completed

10000 Row completed

20000 Row completed

30000 Row completed

40000 Row completed

50000 Row completed

60000 Row completed

70000 Row completed

80000 Row completed

90000 Row completed

100000 Row completed

110000 Row completed

120000 Row completed

130000 Row completed

140000 Row completed

150000 Row completed

160000 Row completed

170000 Row completed

180000 Row completed

190000 Row completed

Day of week

0 Row completed
10000 Row completed
20000 Row completed
30000 Row completed
40000 Row completed
50000 Row completed

60000 Row completed
70000 Row completed
80000 Row completed
90000 Row completed
100000 Row completed
110000 Row completed
120000 Row completed

130000 Row completed
140000 Row completed
150000 Row completed
160000 Row completed
170000 Row completed
180000 Row completed
190000 Row completed
Time of Day

0 Row completed

10000 Row completed
20000 Row completed
30000 Row completed
40000 Row completed
50000 Row completed
60000 Row completed

70000 Row completed
80000 Row completed
90000 Row completed
100000 Row completed
110000 Row completed
120000 Row completed
130000 Row completed
140000 Row completed

150000 Row completed
160000 Row completed
170000 Row completed
180000 Row completed
190000 Row completed
(100000, 1417)
[ 0.  0.  0. ...,  0.  0.  0.]
Genres:

0 Row completed

10000 Row completed

20000 Row completed

30000 Row completed

40000 Row completed

50000 Row completed

60000 Row completed

70000 Row completed

80000 Row completed

90000 Row completed

Cities

0 Row completed

10000 Row completed

20000 Row completed

30000 Row completed

40000 Row completed

50000 Row completed

60000 Row completed

70000 Row completed

80000 Row completed

90000 Row completed

Day of week

0 Row completed
10000 Row completed
20000 Row completed
30000 Row completed
40000 Row completed

50000 Row completed
60000 Row completed
70000 Row completed
80000 Row completed
90000 Row completed
Time of Day

0 Row completed
10000 Row completed

20000 Row completed
30000 Row completed
40000 Row completed
50000 Row completed
60000 Row completed

70000 Row completed
80000 Row completed
90000 Row completed

In [79]:
new_pd = pd.read_csv('/home/suraj/Repositories/IndiaHacks ML Hackathon/train_data.csv')
test_pd = pd.read_csv('/home/suraj/Repositories/IndiaHacks ML Hackathon/test_data.csv')

In [83]:
new_pd.drop(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10','11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'], inplace=True, axis=1)
test_pd.drop(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10','11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'], inplace=True, axis=1)

ValueError: labels ['1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16'
 '17' '18' '19' '20' '21' '22' '23' '24'] not contained in axis

In [84]:
print new_pd.loc[0]
print new_pd.shape, test_pd.shape

Cricket                 82379.0
Kabaddi                   255.0
Reality                  4751.0
Wildlife                    0.0
LiveTV                      0.0
Football                    0.0
TalkShow                    0.0
Drama                       0.0
Action                      0.0
Romance                     0.0
Mythology                   0.0
Comedy                      0.0
Kids                        0.0
Crime                       0.0
Family                      0.0
Sport                       0.0
Teen                        0.0
Awards                      0.0
Thriller                    0.0
Badminton                   0.0
Horror                      0.0
Travel                      0.0
Documentary                 0.0
Science                     0.0
Hockey                      0.0
Formula1                    0.0
Table Tennis                0.0
Tennis                      0.0
Athletics                   0.0
Boxing                      0.0
                         ...
sahiwal                     0.0
saint helier                0.0
dibrugarh                   0.0
mudhol                      0.0
almere stad                 0.0
hemel hempstead             0.0
monmouth junction           0.0
tumkur                      0.0
northampton                 0.0
bayrut                      0.0
bari                        0.0
bharuch                     0.0
rodgau                      0.0
frankfurt-fechenheim        0.0
palaiseau                   0.0
harare                      0.0
girona                      0.0
licheng                     0.0
san vendemiano              0.0
poitiers                    0.0
wallingford                 0.0
aalborg                     0.0
wallington                  0.0
belfast                     0.0
eivissa                     0.0
minhang qu                  0.0
streatham                   0.0
zhenruzhen                  0.0
pavlodar                    0.0
louisville                  0.0
Name: 0, dtype: float64
(200000, 1393) (100000, 1393)

In [85]:
title_train = transform_countdata(train_X, 'titles')
title_test = transform_countdata(test, 'titles')

In [86]:
new_pd['title_count'] = title_train

In [87]:
test_pd['title_count'] = title_test

In [89]:
tod_train = transform_countdata(train_X, 'tod')
tod_test = transform_countdata(test, 'tod')
dow_train = transform_countdata(train_X, 'dow')
dow_test = transform_countdata(test, 'dow')

new_pd['tod'] = tod_train
test_pd['tod'] = tod_test
new_pd['dow'] = dow_train
test_pd['dow'] = dow_test

In [91]:
new_pd.to_csv('train_X.csv')
test_pd.to_csv('test_X.csv')

In [2]:
import pandas as pd
new_pd = pd.read_csv('/home/suraj/Repositories/IndiaHacks ML Hackathon/train_X.csv')
test_pd = pd.read_csv('/home/suraj/Repositories/IndiaHacks ML Hackathon/test_X.csv')

In [93]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
# from sklearn.svm import SVC
import pandas as pd

In [95]:
model = GradientBoostingClassifier(n_estimators=100, verbose=True)
model.fit(new_pd, train_Y)

MemoryError:

In [ ]:
results = model.predict_proba(test_pd)

In [ ]:
# # uncomment to do grid search - could get better score
# from sklearn.model_selection import train_test_split
# X_train, X_val, y_train, y_val = train_test_split(train_X, train_Y, train_size=0.7, random_state=1)
# 
# # doing grid search for parameters
# from sklearn.grid_search import GridSearchCV
# from sklearn.metrics import roc_auc_score, make_scorer
# clf_scorer = make_scorer(roc_auc_score)
# rfc = GradientBoostingClassifier(verbose=True)
# param_grid = {
#     'max_depth': [4, 8,  12],
#     'max_features': ['sqrt', 'log2', None],
#     'n_estimators': [250, 500, 1000]
# }
# cv_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv=5, scoring=clf_scorer, n_jobs=-1)
# cv_rfc.fit(X_train, y_train)

In [111]:
results = pd.DataFrame(columns=['seg', 'segment'], data=val)

In [112]:
results.drop('seg', axis=1, inplace=True)

In [113]:
results.head()
results['ID']= label
results = results[['ID', 'segment']]

In [114]:
results.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>segment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>test-1</td>
      <td>1.613298e-10</td>
    </tr>
    <tr>
      <th>1</th>
      <td>test-10</td>
      <td>2.131997e-05</td>
    </tr>
    <tr>
      <th>2</th>
      <td>test-100</td>
      <td>1.663715e-01</td>
    </tr>
    <tr>
      <th>3</th>
      <td>test-1000</td>
      <td>5.191947e-06</td>
    </tr>
    <tr>
      <th>4</th>
      <td>test-10000</td>
      <td>7.452770e-02</td>
    </tr>
  </tbody>
</table>
</div>

In [116]:
results.to_csv('/home/suraj/Repositories/IndiaHacks ML Hackathon/submissions/hotstarsub1.csv', index=False)

In [103]:
from pickle import dump, load

In [104]:
dump(cv_rfc, open('model', "w"))

In [107]:
print cv_rfc.best_params_

{'max_features': None, 'n_estimators': 1000, 'max_depth': 12}