In [1]:
from lib.modules_hotstar import describe_data, processinput_data, extract_data_fields

In [2]:
train_X, train_Y,  test, details = describe_data('data/hotstar')

Directory Read from:data/hotstar/*

Files Read:

data/hotstar/train_data.json

data/hotstar/test_data.json

data/hotstar/sample_submission.csv

In [3]:
print test.head()

           ID                                cities  \
0      test-1                  delhi:182,mumbai:702
1     test-10  pune:16,delhi:1100,navi mumbai:22736
2    test-100    chennai:8652,delhi:751,mumbai:4470
3   test-1000        pune:15,delhi:4872,mumbai:1849
4  test-10000                           mumbai:1204

                                   genres  \
0                 Romance:182,Cricket:702
1  Romance:50,Action:3501,Mythology:20300
2           TalkShow:2247,Mythology:11626
3                  Drama:6459,Reality:276
4                              Drama:1204

                                              titles  \
0  Axar's 21-ball 40 amidst KXIP ruins:72,Virat K...
1  Besh Korechi Prem Korechi:0,Power:122,Siya Ke ...
2            Mahabharat:11626,Koffee With Karan:2247
3  Dance +:276,Dance  :0,Chandanamazha:6458,Karut...
4                    Yeh Rishta Kya Kehlata Hai:1204

                                        dow  \
0                               2:182,4:701
1  1:4830,3:3078,2:8359,5:2946,4:4185,7:451
2         1:5409,2:740,4:1162,7:2755,6:3807
3                      1:3227,3:2043,7:1464
4                                    1:1204

                                                 tod
0                                      13:182,15:701
1  20:6909,21:1520,22:662,23:3160,19:5711,1:121,0...
2  11:23,10:499,13:1804,12:1467,15:751,14:14,22:3...
3          14:15,17:1758,16:4185,19:128,23:468,6:180
4                                            19:1204

In [4]:
train_Y.head()

0    neg
1    neg
2    neg
3    neg
4    neg
Name: segment, dtype: object

In [5]:
genre_list = extract_data_fields(train_X, 'genres')
city_list = extract_data_fields(train_X, 'cities')
daytime_list = range(1, 25)
weekday_list = range(1, 8)

Drama:164,Cricket:3889,Comedy:8 list completed

kolkata:26,bangalore:2308,delhi:898,mumbai:828 list completed

In [11]:
print weekday_list

[1, 2, 3, 4, 5, 6, 7]

In [6]:
import pandas as pd
df = pd.DataFrame()
for col in genre_list:
    df[col] = 0
for col in city_list:
    df[col] = 0
for col in daytime_list:
    df[col] = 0
for col in weekday_list:
    df[col] = 0

In [17]:
import numpy as np
def processinput_data(data, new_pd):
    rows = np.shape(data)[0]
    cols = np.shape(new_pd)[1]
    shape = (rows, cols)
    print shape
    new_pd_val = np.zeros(shape)
    print new_pd_val[1]
    new_pd.append(new_pd_val)

    # for field in data['genres']:
    #     for sub_field in field.split(","):
    #         if sub_field.split(":")[0] not in new_pd.columns:
    # ## Add counts for different fields from modules_hotstar
    #
    #
    #     data.drop(['tod', 'dow', 'cities', 'titles', 'genres'], axis= 1, inplace = True)
    return new_pd

In [18]:
new_pd = processinput_data(train_X, df)
print new_pd.head()

(200000, 1417)
[ 0.  0.  0. ...,  0.  0.  0.]

TypeError: cannot concatenate a non-NDFrame object

In [6]:
train_X = process_data(train_X)
test_X = process_data(test)
train_Y = process_data(train_Y)

DataFrame'>

DataFrame'>

Series'>

[u'Cricket', u'Kabaddi', u'Reality', u'Wildlife', u'LiveTV', u'Football', u'TalkShow', u'Drama', u'Action', u'Romance', u'Mythology', u'Comedy', u'Kids', u'Crime', u'Family', u'Sport', u'Teen', u'Awards', u'Thriller', u'Badminton', u'Horror', u'Travel', u'Documentary', u'Science', u'Hockey', u'Formula1', u'Table Tennis', u'Tennis', u'Athletics', u'Boxing', u'IndiaVsSa', u'Swimming', u'Volleyball', u'FormulaE', u'NA']

In [7]:
train_X.drop('ID', axis=1, inplace=True)
train_X.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>genre_count</th>
      <th>title_count</th>
      <th>city_count</th>
      <th>tod_count</th>
      <th>dow_count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>3</td>
      <td>60</td>
      <td>2</td>
      <td>14</td>
      <td>7</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>70</td>
      <td>3</td>
      <td>16</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>8</td>
      <td>3</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>11</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
id = test_X['ID']
test_X.drop('ID', axis=1, inplace=True)
test_X.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>genre_count</th>
      <th>title_count</th>
      <th>city_count</th>
      <th>tod_count</th>
      <th>dow_count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2</td>
      <td>8</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>10</td>
      <td>3</td>
      <td>8</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>11</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
label = id

In [10]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
import pandas as pd

In [11]:
model = SVC(probability=True, verbose=True)
model.fit(train_X, train_Y)

[LibSVM]

In [ ]:
results = model.predict_proba(test_X)

In [ ]:
# # uncomment to do grid search - could get better score
# from sklearn.model_selection import train_test_split
# X_train, X_val, y_train, y_val = train_test_split(train_X, train_Y, train_size=0.7, random_state=1)
# 
# # doing grid search for parameters
# from sklearn.grid_search import GridSearchCV
# from sklearn.metrics import roc_auc_score, make_scorer
# clf_scorer = make_scorer(roc_auc_score)
# rfc = GradientBoostingClassifier(verbose=True)
# param_grid = {
#     'max_depth': [4, 8,  12],
#     'max_features': ['sqrt', 'log2', None],
#     'n_estimators': [250, 500, 1000]
# }
# cv_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv=5, scoring=clf_scorer, n_jobs=-1)
# cv_rfc.fit(X_train, y_train)

In [111]:
results = pd.DataFrame(columns=['seg', 'segment'], data=val)

In [112]:
results.drop('seg', axis=1, inplace=True)

In [113]:
results.head()
results['ID']= label
results = results[['ID', 'segment']]

In [114]:
results.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>segment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>test-1</td>
      <td>1.613298e-10</td>
    </tr>
    <tr>
      <th>1</th>
      <td>test-10</td>
      <td>2.131997e-05</td>
    </tr>
    <tr>
      <th>2</th>
      <td>test-100</td>
      <td>1.663715e-01</td>
    </tr>
    <tr>
      <th>3</th>
      <td>test-1000</td>
      <td>5.191947e-06</td>
    </tr>
    <tr>
      <th>4</th>
      <td>test-10000</td>
      <td>7.452770e-02</td>
    </tr>
  </tbody>
</table>
</div>

In [116]:
results.to_csv('/home/suraj/Repositories/IndiaHacks ML Hackathon/submissions/hotstarsub1.csv', index=False)

In [103]:
from pickle import dump, load

In [104]:
dump(cv_rfc, open('model', "w"))

In [107]:
print cv_rfc.best_params_

{'max_features': None, 'n_estimators': 1000, 'max_depth': 12}